<div>
<h3><%= t '.header' %></h3>

<dl>
  <dt><%= t '.terms.term_1' %></dt>
  <dd><%= t '.descriptions.description_1' %></dd>

  <dt><%= t '.terms.term_2' %></dt>
  <dd><%= t '.descriptions.description_2' %></dd>

  <dt><%= t '.terms.term_3' %></dt>
  <dd><%= t '.descriptions.description_3' %></dd>

  <dt><%= t '.terms.term_4' %></dt>
  <dd><%= t '.descriptions.description_4' %></dd>

  <dt><%= t '.terms.term_5' %></dt>
  <dd><%= t '.descriptions.description_5' %></dd>

  <dt><%= t '.terms.term_6' %></dt>
  <dd><%= t '.descriptions.description_6' %></dd>
</dl>
</div>
