<tr>
  <td><%= link_to (t '.link.edit'), edit_profile_path(profile) %></td>
  <td><%= link_to (t '.link.delete'), profile, method: :delete, data: { confirm: (t 'confirmation', target: "profile") } %></td>
  <td><%= link_to profile.name, profile %></td>
  <td><%= profile_gender_as_string(profile) %></td>
  <td><%= profile.age %></td>
  <td><%= profile.weight %></td>
  <td><%= profile.height %></td>
  <td><%= profile.activity_level %></td>
  <td><%= (t '.needs.calories', target: profile.calories_need) %></td>
  <td><%= (t '.needs.grams' , target: profile.protein_need) %></td>
  <td><%= (t '.needs.grams', target: profile.fat_need) %></td>
  <td><%= (t '.needs.grams', target: profile.carbs_need) %></td>
</tr>