<% provide(:title, (t '.subtitle')) %>
<h3><%= t '.header.main' %></h3>

  <table>
    <thead>
    <tr>
      <th></th>
      <th></th>
      <th><%= t '.table.name' %></th>
      <th><%= t '.table.gender' %></th>
      <th><%= t '.table.age' %></th>
      <th><%= t '.table.weight' %></th>
      <th><%= t '.table.height' %></th>
      <th><%= t '.table.activity_level' %></th>
      <th><%= t '.table.calories_need' %></th>
      <th><%= t '.table.protein_need' %></th>
      <th><%= t '.table.fat_need' %></th>
      <th><%= t '.table.carbs_need' %></th>
    </tr>
    </thead>
    <tbody>
    <%= render @profiles %>
    </tbody>
  </table>
  <%= will_paginate %>
  <%= link_to (t '.link.add'), new_profile_path %>
<%= render 'activity_levels' %>