<% provide(:title, @profile.name.titleize) %>

<div class="span6 offset2">
  <table class="table table-hover">
    <caption><%= @profile.name.capitalize %></caption>

    <tr>
      <th><%= t '.table.gender' %></th>
      <td><%= profile_gender_as_string(@profile) %></td>
    </tr>

    <tr>
      <th><%= t '.table.age' %></th>
      <td><%= t '.table.measurement_units.age', target: @profile.age %></td>
    </tr>

    <tr>
      <th><%= t '.table.weight' %></th>
      <td><%= t '.table.measurement_units.weight', target: @profile.weight %></td>
    </tr>

    <tr>
      <th><%= t '.table.height' %></th>
      <td><%= t '.table.measurement_units.height', target: @profile.height %></td>
    </tr>

    <tr>
      <th><%= t '.table.activity_level' %></th>
      <td><%= @profile.activity_level %></td>
    </tr>

    <tr>
      <th><%= t '.table.calories_need' %></th>
      <td>
        <%= t '.table.measurement_units.needs.calories',
              target: @profile.calories_need %>
      </td>
    </tr>

    <tr>
      <th><%= t '.table.protein_need' %></th>
      <td>
        <%= t '.table.measurement_units.needs.grams_calories',
              target_g: @profile.protein_need,
              target_kcal: grams_to_kcal(protein: @profile.protein_need) %>
      </td>
    </tr>

    <tr>
      <th><%= t '.table.fat_need' %></th>
      <td>
        <%= t '.table.measurement_units.needs.grams_calories',
              target_g: @profile.fat_need,
              target_kcal: grams_to_kcal(fat: @profile.fat_need) %>
      </td>
    </tr>

    <tr>
      <th><%= t '.table.carbs_need' %></th>
      <td>
        <%= t '.table.measurement_units.needs.grams_calories',
                target_g: @profile.carbs_need,
                target_kcal: grams_to_kcal(carbs: @profile.carbs_need)  %>
      </td>
    </tr>
  </table>

  <%= link_to (t '.link.edit'), edit_profile_path(@profile), class: "btn btn-primary" %>
</div>

<%= render 'activity_levels' %>