<%= render 'shared/error_messages', object: @menu %>

    <%= f.label :menu_date %>
        <%= f.date_field :menu_date %>

<h4><%= (t '.header.meals') %></h4>

<%= f.fields_for :meals do |meal_builder| %>
  <%= render 'meals_form', f: meal_builder %>
<% end %>

<%= f.link_to_add (t '.link.add'), :meals %>
