<% provide(:title, (t '.subtitle')) %>
<h3><%= (t '.header.main') %></h3>

  <table>
    <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
      <th><%= (t '.table.meals') %></th>
      <th><%= (t '.table.calories') %></th>
    </tr>
    </thead>
    <tbody>
      <%= render @menus %>
    </tbody>
  </table>
  <%= will_paginate %>
<aside><%= render 'new_menu' %></aside>

