<% provide(:title, (t '.subtitle')) %>
<h3 class="text-left"><%= (t '.header.main') %></h3>

<div class="span6">
  <table class="table table-hover">
    <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
      <th><%= (t '.table.meals') %></th>
      <th><%= (t '.table.calories') %></th>
    </tr>
    </thead>
    <tbody>
      <%= render @menus %>
    </tbody>
  </table>
  <%= will_paginate %>
  <%= link_to (t '.link.add'), new_menu_path, class: "btn btn-primary pull-right" %>
</div>
