<div class="row calendar_day">
  <%= link_to('<<<', date: @date.yesterday) %>
  <%= @date %>
  <%= link_to('>>>', date: @date.tomorrow) %>
</div>

<% if @menu %>
    <%= render template: 'menus/show' %>
<% else %>
    <%= render 'no_menu' %>
<% end %>