<br>
<table>
  <thead>
  <tr>
    <th colspan="2">
      <%= link_to('poprzedni', month: (@date.prev_month.to_s)[0..6]) %>
    </th>
    <th colspan="3"><%= @months[@month] %></th>
    <th colspan="2">
      <%= link_to('następny', month: (@date.next_month.to_s)[0..6]) %>
    </th>
  </tr>
  <tr>
    <% @week_days.each_value do |day| %>
        <th><%= day %></th>
    <% end %>
  </tr>
  </thead>

  <tbody>
  <% @weeks_data.each do |week| %>
      <tr>
        <% week.each do |day, meal| %>
            <td>
              <%= day %><br>
              <% if meal.is_a? String %>
                  <%= meal %>
              <% else %>
                  <% meal.each do |m| %>
                      <%= "#{@meal_types.find(m.dish_type_id).name} - #{@dishes.find(m.dish_id).dish_name.titleize}" %><br>
                  <% end %>
              <% end %>
            </td>
        <% end %>
      </tr>
  <% end %>
  </tbody>
</table>

