<table>
  <tr>
    <th>
      <%= link_to('<<<', year_month: (@date.prev_month)) %>
      <%= l @date, format: '%B' %>
      <%= link_to('>>>', year_month: (@date.next_month)) %>
    </th>
  </tr>
  <tr>
    <% (t 'date.weekdays').each do |day| %>
        <th><%= day %></th>
    <% end %>
  </tr>
  <% @calendar.all_days_for_month_view.each do |week| %>
      <tr>
        <% week.each do |day| %>
            <td>
              <%= link_to (l day, format: :short), calendar_day_path(day) %>
              <div>
                <% meals_for_day_in_month(day).each do |meal_info| %>
                    <%= meal_info %><br>
                <% end %>
              </div>
            </td>
        <% end %>
      </tr>
  <% end %>
</table>