<% provide(:title, @user.name) %>
<h3><%= (t '.header.main') %></h3>

  <table>
    <tr>
      <th><%= (t '.table.name') %></th>
      <td><%= @user.name %></td>
    </tr>
    <tr>
      <th><%= (t '.table.email') %></th>
      <td><%= @user.email %></td>
    </tr>
  </table>
  <%= link_to (t '.link.edit'), edit_user_path(@user) %>

