<p><%= (t '.paragraph.list_intro') %></p>
<ul class="description-list">
  <li><span class="glyphicon glyphicon-thumbs-up"></span><%= " " + (t '.bullets.first') %></li>
  <li><span class="glyphicon glyphicon-thumbs-up"></span><%= " " + (t '.bullets.second') %></li>
  <li><span class="glyphicon glyphicon-thumbs-up"></span><%= " " + (t '.bullets.third') %></li>
  <li><span class="glyphicon glyphicon-thumbs-up"></span><%= " " + (t '.bullets.fourth') %></li>
</ul>

<p><%= (t '.paragraph.description') %></p>

