<% provide(:title, (t '.subtitle')) %>
<div class="hero-unit">
    <div id="about">
      <h1><%= (t '.header.main') %></h1>
      <p><%= (t '.paragraph.list_intro') %></p>
      <ul>
        <li><%= (t '.bullets.first') %></li>
        <li><%= (t '.bullets.second') %></li>
        <li><%= (t '.bullets.third') %></li>
      </ul>

      <p><%= (t '.paragraph.description') %></p>

      <p><%= (t '.paragraph.contact') %></p>
    </div>
</div>