<tr>
  <td><%= link_to 'zmień', edit_dish_path(dish) %></td>
  <td><%= link_to 'usuń', dish, method: :delete, data: { confirm: "Na pewno chcesz usunąć danie?" } %></td>
  <td><%= dish.dish_name %></td>
  <td><%= count_calories(dish) %></td>
  <td><%= count_protein(dish) %></td>
  <td><%= count_fat(dish) %></td>
  <td><%= count_carbs(dish) %></td>
</tr>
