<%= render 'shared/error_messages', object: @dish %>


<%= f.label :dish_name, class: "col-md-3 control-label" %>
<%= f.text_field :dish_name %>


<h4><%= (t '.header.ingredients') %></h4>

<%= f.fields_for :ingredients do |ingredient_builder| %>
  <%= render "ingredients_form", f: ingredient_builder %>
<% end %>

<%= f.link_to_add (t '.link.add'), :ingredients  %>

<h4><%= (t '.header.steps') %></h4>
<%= f.text_area :dish_steps %>
