<%= render 'shared/error_messages', object: @dish %>

<div class="form-group name">
    <%= f.label :dish_name, class: "col-md-3 control-label" %>
    <div class="col-md-3">
        <%= f.text_field :dish_name %>
    </div>
</div>

<h4><%= t '.header.ingredients' %></h4>

<%= f.fields_for :ingredients, html: { class: "form-inline" } do |ingredient_builder| %>
  <%= render "ingredients_form", f: ingredient_builder %>
<% end %>

<%= f.link_to_add (t '.link.add'), :ingredients, class: "btn btn-medium btn-primary"  %>

<h4><%= t '.header.steps' %></h4>
<%= f.text_area :dish_steps %>
