<% provide(:title, (t '.subtitle')) %>
<h3><%= (t ".header.main") %></h3>
<div>
    <table>
        <thead>
            <tr>
                <th></th>
                <th></th>
                <th></th>
                <th><%= (t '.table.calories') %></th>
                <th><%= (t '.table.protein') %></th>
                <th><%= (t '.table.fat') %></th>
                <th><%= (t '.table.carbs') %></th>
            </tr>
        </thead>
        <tbody>
            <%= render @dishes %>
        </tbody>
    </table>
    <%= will_paginate %>
  <aside>
    <%= render 'new' %>
  </aside>
</div>
