<% provide(:title, (t '.subtitle')) %>
<h3 class="text-left"><%= t ".header.main" %></h3>
<div class="span12">
    <table class="table table-hover">
        <thead>
            <tr>
                <th></th>
                <th></th>
                <th></th>
                <th><%= t '.table.calories' %></th>
                <th><%= t '.table.protein' %></th>
                <th><%= t '.table.fat' %></th>
                <th><%= t '.table.carbs' %></th>
            </tr>
        </thead>
        <tbody>
            <%= render @dishes %>
        </tbody>
    </table>
    <%= will_paginate %>
    <%= link_to (t '.link.add'), new_dish_path, class: "btn btn-primary" %>
</div>
