<% provide(:title, @dish.dish_name.titleize) %>
<div>
  <h3><%= @dish.dish_name.titleize %></h3>
    <table>
        <caption><%= (t '.table.meal.title') %></caption>
        <tr>
            <th><%= (t '.table.meal.calories') %></th>
            <th><%= (t '.table.meal.protein') %></th>
            <th><%= (t '.table.meal.fat') %></th>
            <th><%= (t '.table.meal.carbs') %></th>
        </tr>
        <tr>
            <td><%= "#{@dish.dish_calories} kcal" %></td>
            <td><%= "#{grams_to_kcal(protein: @dish.dish_protein)} kcal (#{@dish.dish_protein} g)" %></td>
            <td><%= "#{grams_to_kcal(fat: @dish.dish_fat)} kcal (#{@dish.dish_fat} g)" %></td>
            <td><%= "#{grams_to_kcal(carbs: @dish.dish_carbs)} kcal (#{@dish.dish_carbs} g)" %></td>
        </tr>
    </table>
    <table>
        <caption><%= (t '.table.ingredients.title') %></caption>
        <tr>
            <th><%= (t '.table.ingredients.name') %></th>
            <th><%= (t '.table.ingredients.amount') %></th>
            <th><%= (t '.table.ingredients.calories') %></th>
            <th><%= (t '.table.ingredients.protein') %></th>
            <th><%= (t '.table.ingredients.fat') %></th>
            <th><%= (t '.table.ingredients.carbs') %></th>
        </tr>
        <% @dish.ingredients.each do |ingredient| %>
            <tr>
                <td><%= ingredient.product.product_name %></td>
                <td><%= ingredient.quantity_per_dish %></td>
                <td><%= "#{ingredient.count_calories} kcal" %></td>
                <td><%= "#{ingredient.count_protein} g" %></td>
                <td><%= "#{ingredient.count_fat} g" %></td>
                <td><%= "#{ingredient.count_carbs} g" %></td>
            </tr>
        <% end %>
    </table>

    <table>
      <caption><%= (t '.table.steps.title') %></caption>
      <tr><td><%= @dish.dish_steps %></td></tr>
    </table>


    <%= link_to (t '.link.edit'), edit_dish_path(@dish) %>
</div>