<%= render 'shared/error_messages', object: @product %>

<div>
    <%= f.label :product_name %>
        <%= f.text_field :product_name %>
</div>

<h4><%= (t '.header.description') %></h4>

        <%= f.label :product_protein  %>
            <%= f.text_field :product_protein %>
        <%= f.label :product_fat  %>
            <%= f.text_field :product_fat %>
        <%= f.label :product_carbs  %>
            <%= f.text_field :product_carbs %>
