<tr>
  <td><%= link_to 'zmień', edit_product_path(product) %></td>
  <td><%= link_to 'usuń', product, method: :delete, data: { confirm: "Na pewno chcesz usunąć produkt?" } %></td>
  <th><%= product.product_name %></th>
  <td><%= "#{product.product_calories} kcal" %></td>
  <td><%= "#{product.product_protein} g (#{product.protein_kcal} kcal)" %></td>
  <td><%= "#{product.product_fat} g (#{product.fat_kcal} kcal)" %></td>
  <td><%= "#{product.product_carbs} g (#{product.carbs_kcal} kcal)" %></td>
</tr>
