<tr>
  <td><%= link_to 'zmień', edit_product_path(product) %></td>
  <td><%= link_to 'usuń', product, method: :delete, data: { confirm: "Na pewno chcesz usunąć produkt?" } %></td>
  <td><%= product.product_name %></td>
  <td><%= product.product_calories %></td>
  <td><%= "#{product.protein_kcal}" %></td>
  <td><%= "#{product.fat_kcal}" %></td>
  <td><%= "#{product.carbs_kcal}" %></td>
</tr>
