<% provide(:title, (t '.subtitle')) %>
<h3><%= (t '.header.main') %></h3>
    <table>
        <caption><%= (t '.table.title') %></caption>
        <thead>
            <tr>
                <th></th>
                <th></th>
                <th></th>
                <th><%= (t '.table.calories') %></th>
                <th><%= (t '.table.protein') %></th>
                <th><%= (t '.table.fat') %></th>
                <th><%= (t '.table.carbs') %></th>
            </tr>
        </thead>
        <tbody>
            <%= render @products %>
        </tbody>
    </table>
    <%= will_paginate %>
    <%= link_to (t '.link.add'), new_product_path%>
