      <%= link_to (t '.link.jedzeniowo'), root_path %>
      <nav>
        <ul>
          <li><%= link_to (t '.link.home'), root_path %></li>
          <li><%= link_to (t '.link.about'), about_path %></li>
          <% if signed_in? %>
              <%= render 'layouts/signed_in_main' %>
          <% else %>
              <li><%= link_to (t '.link.login'), signin_path %></li>
          <% end %>
        </ul>
        <% if signed_in? %>
            <%= render 'layouts/signed_in_menu' %>
        <% end %>
      </nav>
